:root{
	--first-background:#000e0c;
	--second-background:#00b3ff57;
	--input-background:#111123;
	--button-background:#4f1a36;
	--placeholder:#ababab;
	--link:white;
	--visited:var(--button-background);
	--path:#056c5d;
}
*{
	box-sizing:border-box;
}
html{
	font-family:system-ui;
	background:var(--first-background);
	color:white;
	font-size:clamp(.6rem,1.5vw, 1rem);
}
body{
	margin:0px;
	padding:2rem;
}
.main-container{
	background:var(--second-background);
	max-width:750px;
	margin-inline:auto;
	padding:2rem;
	border-radius:20px;
}
h1,h2,p{
	margin:0px;
}
h1,h2{
	text-align:center;
}
h1{
	padding-bottom:2rem;
}
h2{
	padding-bottom:1rem;
}
small{
	color:var(--placeholder);
	font-size:.9rem;
	margin-bottom:.9rem;
	margin-top:-1rem;
}
ul{
	padding:0px;
	list-style-type:none;
	margin:0px;
}
h1{
	padding-top:30px;
}
a:link{
	text-decoration:none;
	color:var(--link);
	font-weight:bold;
}
a:hover{
	color:var(--button-background);
}
a:visited{
	color:var(--visited);
}
p{
	margin:0px;
}
#available{
	font-size:1.2rem;
	font-weight:bold;

}
code{
	font-size:1rem;
}
.copy-code{
	cursor:pointer;
	padding:6px 3px 5px 3px;
}
.copy-code:hover{
	background:grey;
}
form{
	display:flex;
	flex-direction:column;
	gap:.25rem;
	padding-bottom:2rem;
}
.display-path{
	background:var(--path);
	font-weight:bolder;
	padding:5px;
	border-radius:5px;
	margin-bottom:1rem;
}
span{
	color:var(--placeholder);
}
ul{
	display:flex;
	gap:10px;
	flex-direction:column;
}
li{
	font-size:1.2rem;
	font-weight:bold;
	background:darkgrey;
	padding-block:10px;
	background:var(--second-background);
	color:white;
	display:grid;
	justify-content:center;

}
#display-username{
	font-size:2rem;
	padding-bottom:20px;
	text-align:center;
}
label{
	display:flex;
	flex-direction:column;
	gap:.5rem;
	font-size:1.2rem;
	font-weight:bold;
}
input[type="text"],input[type="number"]{
	background:var(--input-background);
	border-radius:5px;
	font-size:1rem;
	font-weight:normal;
	padding:8px;
	color:white;
	border:none;
}

input[type="submit"],input[type="button"]{
	all:unset;
	box-sizing:border-box;
	cursor:pointer;
	background:var(--button-background);
	font-size:1rem;
	padding:10px;
	color:white;
	font-weight:bold;
	width:80%;
	margin-inline:auto;
	border-radius:7px;
	text-align:center;
	margin-top:.6rem;
	letter-spacing:1px;
}
::placeholder{
	color:var(--placeholder);
	font-weight:normal;
}
.message-wrapper{
	display:flex;
	align-items:center;
}
.message{
	flex-grow:1;
	text-align:center;
	font-weight:500;
}
footer{
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding-bottom:2rem;
	align-items:center;
	font-size:1.2rem;
}
.view-container{
	position:fixed;
	width:740px;
	max-height:700px;
	background:grey;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	padding:2rem;
	border-radius:20px;
	background:var(--first-background);
}
#view-close-button{
	position:absolute;
	right:8px;
	top:8px;
	width:30px;
	height:30px;
	display:grid;
	place-items:center;
	padding:0px;
	border-radius:8px;
	background:white;
	color:var(--first-background);
	cursor:pointer;
}
.view-data{
	background:lightgrey;
	overflow-y:scroll;
	max-height:530px;
	overscroll-behavior:contain;
	border-radius:20px;
	background:var(--first-background);
}
.view-data::-webkit-scrollbar{
	background:var(--first-background);
}
.hide{
	display:none;
}
